.debug{display:none;} /* decomment in production environment */

@font-face {
font-family: 'OpenDyslexic';
src: url("OpenDyslexicAlta-Regular.otf") format("opentype");
}

* {margin: 0; padding: 0;}
a {text-decoration:none;color: #000000;}
html{/*background: url('../img/bg.jpg') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;*/height:100%;width:100%;}
body{overflow:scroll-x;margin: 0;padding: 0;border: 0;height:100%;width:100%;font-family:'OpenDyslexic',Verdana;color:black;text-transform:uppercase;}
strong {font-weight:bold;}

.right{float:right;}
.left{float:left;}
.menu-container{background:#333333;overflow:auto;}
.menu-container > ul { list-style-type: none; margin: 0; padding: 10px; font-size: 0; display: inline-block;}
.menu-container > ul > li { display: inline-block; *display: inline; zoom: 1; }
.menu-container > ul > li > a { display: inline-block; padding: 5px;  font-size: 13px; text-decoration: none;color: #FFFFFF;}
.menu-container > ul > li > a > span{/*background-color:#FFFFFF;*/display: table-cell;height:80px;width:80px;overflow:hidden;text-align:center;vertical-align: middle;}
.menu-container > ul > li > span { display: inline-block; padding: 5px;  font-size: 13px; text-decoration: none;color: #FFFFFF;}
.menu-container > ul > li > span:hover { background: #19A347; }
.menu-container > ul > li > span > span{/*background-color:#FFFFFF;*/display: table-cell;height:80;width:80;overflow:hidden;text-align:center;vertical-align: middle;}
.menu-container > ul > li > span > span > input {height:100%;width:100%;border:0;background-color:#FFFFFF;font-family:Verdana;}
.menu-container > ul.left > li:first-child > a > span{background: url('../img/osm4dys_80x80.png');background-repeat:no-repeat;}
/*.menu-container > ul.left > li:first-child > a > span:hover{background: url('../img/osm4dys.png');}*/
.menu-container > ul.left > li:first-child > a:hover {}
.menu-container > ul.right > li > a:hover {color: #FF0000;}
.menu-container > ul.right > li > a > span{height:80;width:80;}
.menu-container > ul.right > li > span > span{height:80;width:80;}
/*.content{padding:0px;background: #19A347;}*/
.content{padding:0px;}
.inner-content{padding-left:15px;padding-right:15px;padding-top:15px;min-height:100%;}
.inner-content > h2 {text-align:center;background: #FF0000;margin-top:10px;margin-left:15px;margin-right:15px;margin-bottom:10px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;}
.cell{background: #EEEEEE;padding:10px;margin:15px;}
a .cell:hover{background: #FF0000;color:#FFFFFF;}
.cell > h1{background:#333333;padding:10px;text-align:center;margin-bottom:10px;color: #FFFFFF;margin-top:-10px;margin-left:-10px;margin-right:-10px;}
.cell > h2{padding-top:5px;padding-bottom:5px;font-weight:bold;}
.cell ul {list-style-type:circle;margin-left:1em;}
.cell ol {margin-left:1em}
.cell ol li{display:list-item;margin-left:1em;list-style-type: decimal;}
.cell li{display:list-item;margin-left:1em;}
.cell p{margin-top:5px;margin-bottom:5px;}
.cell td{padding:10px;}
.cell a{text-decoration:underline;}
.credits-container{background:#333333;color: #FFFFFF;}
.credits-container > p {text-align:center;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;}
.credits-container > p  > a{padding-left:5px;padding-right:5px;color:#FFFFFF}
.last{padding-bottom:15px;}
pre.code-block {
	counter-reset: linecounter;
    font-family: Consolas,monospace;
    background-color: #FFFFFF;
    padding:0px;
    margin-top:10px;
    margin-bottom:10px;
    overflow-x:scroll;
}
pre.code-block span{
	counter-increment: linecounter;
    /*border-bottom: 1px solid #B0B0B0 ;*/
    display: block;
    /*width:auto;*/
    line-height:30px;
}
pre.code-block span:before{
	content: counter(linecounter);
    text-align:right;
    padding-right:10px;
	width: 50px;
	display: inline-block;
	border-right: 1px solid #B0B0B0 ;
    margin-right: 10px;
}

.app-main-channels span{height:50px;width:50px;display:inline-block;background-size: 50px 50px;}
.app-main-channels span:hover{height:50px;width:50px;display:inline-block;background-size: 50px 50px;}
.more-channels span{height:35px;width:35px;display:inline-block;background-size: 35px 35px;}
.more-channels span:hover{height:35px;width:35px;display:inline-block;background-size: 35px 35px;}
.icon-apple{background:url('../img/std/apple.png');background-repeat:no-repeat;}
.icon-apple:hover{background:url('../img/hover/apple.png');background-repeat:no-repeat;}
.icon-android{background:url('../img/std/android.png');background-repeat:no-repeat;}
.icon-android:hover{background:url('../img/hover/android.png');background-repeat:no-repeat;}

.icon-twitter{background:url('../img/std/twitter.png');background-repeat:no-repeat;}
.icon-twitter:hover{background:url('../img/hover/twitter.png');background-repeat:no-repeat;}
.icon-github{background:url('../img/std/github.png');background-repeat:no-repeat;}
.icon-github:hover{background:url('../img/hover/github.png');background-repeat:no-repeat;}


.icon-linkedin{background:url('../img/std/linkedin.png');background-repeat:no-repeat;}
.icon-linkedin:hover{background:url('../img/hover/linkedin.png');background-repeat:no-repeat;}
.icon-vimeo{background:url('../img/std/vimeo.png');background-repeat:no-repeat;}
.icon-vimeo:hover{background:url('../img/hover/vimeo.png');background-repeat:no-repeat;}
.icon-stackoverflow{background:url('../img/std/stackoverflow.png');background-repeat:no-repeat;}
.icon-stackoverflow:hover{background:url('../img/hover/stackoverflow.png');background-repeat:no-repeat;}
.icon-facebook{background:url('../img/std/facebook.png');background-repeat:no-repeat;}
.icon-facebook:hover{background:url('../img/hover/facebook.png');background-repeat:no-repeat;}
.icon-email{background:url('../img/std/email.png');background-repeat:no-repeat;}
.icon-email:hover{background:url('../img/hover/email.png');background-repeat:no-repeat;}



div.made-with{background:#FFFFFF;}

.color-red{color: red;}



/* fallback */
    .fixed-header   {height:0px;}
    .flow                   {top:0px;bottom:0px;}
    .flow-header     {height:auto;}
    .flow-footer     {height:100px;}
    .fixed-footer   {height:0px;}

/* min */
@media only screen and (max-width: 320px) {
    .fixed-header   {height:0px;}
    .flow                   {top:0px;bottom:0px;}
    .flow-header     {height:auto;}
    .flow-footer     {height:auto;}
    .fixed-footer   {height:0px;}
    .cell img{max-width: 100%;}    
}

/* mid */
@media only screen and (min-width: 320px) and (max-width: 640px) {
    .fixed-header   {height:0px;}
    .flow                   {top:0px;bottom:0px;}
    .flow-header     {height:auto;}
    .flow-footer     {height:auto;}
    .fixed-footer   {height:0px;}
    .cell img{max-width: 100%;}    
}

/* large */
@media only screen and (min-width: 640px) and (max-width: 960px) {
    .fixed-header   {height:0px;}
    .flow                   {top:0px;bottom:0px;}
    .flow-header     {height:auto;}
    .flow-footer     {height:auto;}
    .fixed-footer   {height:0px;}
    .cell img{max-width: 49%;}
}

/* xlarge */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
    .fixed-header   {height:110px;}
    .flow                   {top:110px;bottom:0px;}
    .flow-header     {height:0px;}
    .flow-footer     {height:auto;}
    .fixed-footer   {height:0px;}
    #mainCarousel{height:500px;}
    .cell img{max-width: 49%;}
}

/* xxlarge */
@media only screen and (min-width: 1280px){
    .fixed-header   {height:110px;}
    .flow                   {top:110px;bottom:0px;}
    .flow-header     {height:0px;}
    .flow-footer     {height:auto;}
    .fixed-footer   {height:0px;}
    #mainCarousel{height:500px;}
    .cell img{max-width: 49%;}
}
